<div class="container">
  <h1>{{title}}</h1>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="nav">
        <li class="nav-item" >
            <a routerLink="add" class="btn btn-primary active" role="button" 
                routerLinkActive="active">Agregar</a>
        </li>
        <li class="nav-item" style="margin-left: 10px;">
                <a routerLink="todos" class="btn btn-primary active" role="button" 
                    routerLinkActive="active">Ver todas</a>
            </li>
        <li class="nav-item" style="margin-left: 10px;">
            <a routerLink="todos/filter" class="btn btn-primary active" role="button" 
                routerLinkActive="active">Buscar</a>
        </li>
    </ul>
      
  </nav>
  <hr>
  <router-outlet></router-outlet>
</div>